@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&family=Manrope&display=swap');

html  {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #F1F0E8;
    background-color: #191919;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    
    /* Add the following background properties */
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #191919 0%, #0F4C75 25%, #0F4C75 51%, #D4ADFC 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}


.light-mode {

    .body-container-lp{
        background-color: #F9F9F9;
        color: #191919;
        background-image: linear-gradient(-45deg, #F9F9F9 0%, #F9F9F9 25%, #F9F9F9 51%, #BBE1FA 100%);
    }
    .name-lp{
        color:#0F4C75;
    }
    .myskills-lp{
        color:#0F4C75;
    }
    .project-item-lp{
        color: #0F4C75;
    }
    .link-item-project{
        color: #0F4C75;
    }
    .phrase-project-lp{
        color: #0F4C75;
    }
    .project-content{
        background-color:  #F1F0E8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    }   
    .lets-talk-lp{
        color: #0F4C75;
    }
    .form-contactme{
        background-color:  #F1F0E8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    }
    .textbox-form, textarea {
        background: #fff;
        border: 1px solid #0F4C75;
    }
}


@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 2rem;
    color:#BBE1FA;
}

/*header position - menu*/

.site-menu {
    background: #1B262C;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 2px #1B262C;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-logo-menu{
    display: flex;
    align-items: center;
}


.header-logo-container{
    display: flex;
    align-items: center;
    transition: color .3s;
}


.header-logo-img-cont{
    width: 3.5rem;
    height: 4rem;
    margin-right: 1rem;
    padding-top: 9px;
}

.div-mode {
    padding-left: 7px;
    padding-top: 10px;
}

.mode {
    width: 25px;
    cursor: pointer;
}

.header-logo{
    letter-spacing: 1.4px;
    font-size: 30px;
    padding-left: 5px;
    color: #F9F9F9;
}

.header-logo-simbol {
    color: #CD1818;
    font-size: 25px;
    font-weight: 600;
}

.header-main{
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

.header-links{
    display: none;
}

li{
    list-style: none;
}

.header-link{
    padding: 3rem;
    font-size: 1.5rem;
}

.header-main-ham-menu-cont{
    display: block;
    width: 40px;
    cursor: pointer;
}

.header-main-ham-menu{
    width: 100%;
}

.header-main-ham-menu-close{
    width: 100%;
}

.disp-none{
    display: none;
}

/* menu mobile*/

.header-sm-menu{
    background: #BBE1FA;
    color: #1B262C;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.header-sm-menu > div{
    display: block;
}


.header-sm-menu--active{
    visibility: visible;
    opacity: 1;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style: none;
}

.header-sm-menu-link > a{
    display: block;
    text-decoration: none;
    padding: 2rem 3rem;
    font-size: 1.5rem;
    color: #1B262C;
    text-align: right;
    border-bottom: 1px solid #0F4C75;
    font-weight: 500;
    letter-spacing: 1.8px;
    transition: color .3s;
}


/* main */

.phrase-about-lp{
    font-size: 1.5em;
    font-weight: 400;
}

.phrase-knowme-lp{
    font-size: 1.5em;
    font-weight: 400;
} 

.phrase-interest-lp{
    font-size: 1.5em;
    font-weight: 400;
}

.container-main-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.midia-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 25px; 
}

.lp-image{
    padding-bottom: 2rem;
    padding-right: 3rem;
}

.lp-image-div {
    width: 350px;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #1B262C;
    transition: filter 0.3s ease;
}

.lp-image-div:hover {
    filter: grayscale(100%);
}

.lp-image-div:hover img {
    filter: grayscale(0%);
}

.lp-image-div img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

.lp-image-div img:hover {
    filter: grayscale(100%);
}

.apresentation-lp{
    padding: 6rem 2rem 2rem 2rem;
}

.media-icon{
    width: 55px; 
    height: 55px; 
    margin-right: 1rem;
}

.media-icon:hover{
    width: 60px;
}

.apresentation-lp-h1{
    padding-top: 1em;
    font-weight: 500;
    padding-left: 2rem;
}

.name-lp{
    color:#BBE1FA;
    font-weight: 1000;
}

.aboutme-title-lp{
    display: flex;
    justify-content: center;
    background-color: #1B262C;
    box-shadow: 1px 0.5px 1px 2px  #BBE1FA;
}

.gettoknowme-lp{
    background-color: #1B262C;
    box-shadow: 1px 0.5px 1px 2px  #BBE1FA;
}

.main-about-lp{
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
}

.img-feedback {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    justify-content: center;
}

.slider{
    border-radius: 10px;
}

.details-espec-lp{
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
}

.myskills-lp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 2rem;
    color:#BBE1FA;
}

.skill-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 2rem;
}

.skill-item{
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    background: #1B262C;
    color: #BBE1FA;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 2px 2px 2px #1B262C;
}

.skill-item:hover {
    color: #0F4C75;
    background: #FEC260;
}

.some-works-lp{
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
}

.projectsfont-lp{
    background-color: #1B262C;
    box-shadow: 1px 0.5px 1px 2px  #BBE1FA;
}

.startaproject-lp{
    background-color: #1B262C;
    box-shadow: 1px 0.5px 1px 2px  #BBE1FA;
}

.interested-lp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 3rem 0rem 3rem
}

/*project*/

.phrase-interest-lp{
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
}

.project-section{
    padding: 0px 50px 0px 50px;
}

.project-content{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px 0px 50px 0px;
    background-color: #1B262C;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding: 20px 15px;
    border-radius: 10px;
}

.project-img{
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

.project-item-lp{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.phrase-project-lp{
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.project-tec{
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem;
}

.project-tec li{
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    background: #191919;
    color: #BBE1FA;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 2px 2px 2px #191919;
}

.project-links{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 5px;
}

.external-project-link{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    transition: .2s;
}

.link-item-project{
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

.link-item-project:hover {
    color: #FEC260;
}

.external-project-link img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.laptop-img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.project-image-container {
    position: relative;
}

.project-img-detail {
    position: absolute;
    top: 8%;
    left: 13%;
    width: 74%;
    height: 77%;
    z-index: 1;
}

.project-item-lp{
    padding: 0rem 1rem;
}

.about-item-lp{
    padding: 0.5rem 2rem;
}

.div-prj-item{
    display: flex;
    justify-content: center;
}

/*form*/


.lets-talk-lp{
    color:#BBE1FA;
    font-weight: 500;
    font-size: larger;
}

.form-contactme {
    padding: 2rem;
    max-width: 50rem;
    width: 90%;
    border-radius: 5px;
    background: #1B262C;
    margin: 3rem auto 5rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 1.5rem;
}

.send-button {
    background: #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #1B262C;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #eee;
}

.textbox-form, textarea {
    border-radius: 5px;
    border: 2px solid #BBE1FA;
    background: #BBE1FA;
    font-weight: 300;
    width: 100%;
    padding: 0.5rem;
}

.textbox-form:focus, textarea:focus {
    outline: none;
    border-color: #5bc0de; /* focus color */
}

/*footer*/

.footer-site-lp{
    padding: 0.1rem 2rem 2rem 2rem;
    background: #1B262C;
}

.media-link-footer{
    width: 30px;
}

.lucas-copy-link{
    text-decoration: none;
    color: #fff;
}